.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 40%;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card_icon {
  width: 74px;
}

.login-card_label {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: var(--purple);
}

.login-form {
  width: 85%;
  margin-top: 26px;
}

.login-form_row {
  padding-bottom: 20px;
  position: relative;
}
.login-form_row-error{
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  color: var(--red-cl);
  font-size: 11px;
}

.login-form_bot {
  margin-top: 26px;
}

.login-form_bot-btn button {
  width: 100%;
  outline: none;
  text-transform:none
}
@media only screen and (max-width: 767px) {
  .login-card{
    width: 100%;
    box-shadow: none;
    padding: 0px 12px;
  }
  .login-form{
    width: 100%;
  }
}
