.message {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mess-head {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 410px);
  z-index: 10;
  padding: 8px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mess-head_left {
  display: flex;
  align-items: center;
  width: calc(100% - 150px);
}

.mess-head_left button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  outline: none;
  min-width: unset;
  box-shadow: none;
  margin-right: 6px;
  display: none;
}

.name-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
}

.name {
  width: calc(100% - 48px);
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--text-black);
  display: -webkit-box;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.mess-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 56px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message-item-cnt {
  width: 100%;
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-start;
}

.message-item {
  width: 100%;
}

.message-item-user .MuiAvatar-root {
  width: 28px;
  height: 28px;
}

.message-item-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.message-item-user-ch {
  flex-direction: row-reverse;
}

.message-item-user_name {
  font-size: 13px;
  font-weight: 500;
  margin: 0 6px;
}

.message-item-user_time {
  color: #a1a5b7;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -2px;
}

.message-body {
  width: 100%;
  display: flex;
}

.message-body-ch {
  justify-content: flex-end;
}

.message-body_images,
.message-body_images-2,
.message-body_images-3 {
  max-width: 100%;
  min-width: 310px;
  margin-top: 6px;
}

.message-body_images-item {
  width: 100%;
}

.message-body_images-item img {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.message-body_images-2 {
  grid-gap: 6px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.message-body_images-3 {
  grid-gap: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.message-body_images-2 .message-body_images-item,
.message-body_images-3 .message-body_images-item {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

.message-body_images-2 .message-body_images-item img,
.message-body_images-3 .message-body_images-item img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}




.message-body_txt {
  background-color: #f8f5ff;
  border-radius: 0 8px 8px 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  max-width: 80%;
  padding: 12px;
  word-break: break-word;
}

.message-body_txt-ch {
  background-color: #c1dbe9;
  border-radius: 8px 0px 8px 8px;
}

.mess-input-cnt {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: calc(100% - 410px);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 12px 8px;
}

.mess-images {
  width: 100%;
  padding: 8px 0px;
  overflow-x: scroll;
}

.mess-images-list {
  display: flex;
  width: max-content;
}

.mess-images-item {
  width: 64px;
  margin-right: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-color: var(--bg-color);
  position: relative;
}

.mess-images-item img,
.mess-images-item video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.mess-images-item video {
  object-fit: contain;
}

.mess-images-item_load {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mess-images-item_load span {
  color: var(--white);
}

.mess-images-item_btn {
  position: absolute;
  width: 28px;
  height: 28px;
  z-index: 2;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: -8px;
  right: -8px;
  box-shadow: var(--box-shadow);
}

.mess-ctl {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mess-ctl_cnt {
  display: flex;
  align-items: center;
}

.mess-ctl_cnt-btn {
  width: 36px;
  height: 36px;
  background-color: var(--purple);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mess-ctl_cnt-btn-emoji {
  margin: 0px 4px;
  position: relative;
}

.emoji-cnt {
  position: absolute;
  z-index: 10;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  top: -408px;
  left: 0px;
  display: none;
}

.emoji-cnt-act {
  display: block;
}

.mess-ctl_cnt-btn i {
  color: var(--white);
}

.mess-ctl_form {
  width: calc(100% - 42px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mess-ctl_form textarea {
  min-width: calc(100% - 42px);
  max-width: calc(100% - 42px);
  background-color: #f1faff;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  max-height: 120px;
  outline: none;
  overflow-y: scroll;
  padding: 8px 8px;
  resize: none;
}

.mess-ctl_form button {
  width: 36px;
  height: 35px;
  box-shadow: none;
  border-radius: 100%;
  min-width: unset;
  outline: none;
}

.mess-ctl_cnt-btn button i {
  color: var(--white);
}

.bottom-ref {
  height: 160px;
}

.message-img {
  width: 310px;
  border-radius: 8px;
}

.message-video {
  width: 310px;
  border-radius: 8px;
}

.linkify-chat {
  color: var(--text-black);
  text-decoration: underline;
}

.linkify-chat:hover {
  color: var(--text-black);
}

.fa-spinner-anm {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .mess-head_left button {
    display: flex;
  }

  .message-body_txt {
    max-width: 90%;
  }

  .bottom-ref {
    height: 150px;
  }

  .mess-head {
    width: 100%;
  }

  .mess-input-cnt {
    width: 100%;
  }
}